googletest-*/
*.pc
bin/
lib/
CMakeFiles/
Makefile
*.cmake
!Find*.cmake
CMakeCache.txt
build/googletest/CMakeLists.txt
build/googletest/Makefile
build/Makefile
CTestCostData.txt
doc/html/
*.png
*.gif
*.pyc
