googletest-*/
*.pc
bin/
lib/
CMakeFiles/
Makefile
*.cmake
!cmake.example/FindCControllers.cmake
cmake/
CMakeCache.txt
build/googletest/CMakeLists.txt
build/googletest/Makefile
build/Makefile
CTestCostData.txt
doc/html/
*.png
*.gif
*.pyc
LastTest.log
tasks.json
.vscode/tags
